<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-auto">
      <h1>User info</h1>
      <%= render 'layouts/error',  obj: @user %>
      <%= form_with model: @user do |f| %>
        <%= f.label :Name %>
        <%= f.text_field :name %>
        <%= f.label :Image %>
        <%= f.file_field :profile_image, accept: "image/*" %>
        <%= f.label :Introduction %>
        <%= f.text_area :introduction %>
        <%= f.submit 'Update User', class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
