<div class="container">
  <div class="row no-gutters">
    <div class="col-md-3 mx-2">
      <%= render 'books/side_bar', {user: @user, book: @book} %>
    </div>
    <div class="col-md-8 offset-md-1 mx-2">
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th class="col-2"></th>
            <th class="col-3">Title</th>
            <th class="col-5">Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= image_tag 'no_image.jpg' %></td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
