<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
      <td class="favorite-btn<%= book.id %>"><%= render 'favorites/favorite_btn', book: book %></td>
      <td class="count">コメント数: <%= render 'book_comments/count', book: book %></td>
      <td>閲覧数: <%= book.view_counts.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>