<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
  <p>name</p><span><%= user.name %></span>
  <p>introduction</p><span><%= user.introduction %></span>
  <%= link_to edit_user_path(user.id) do %>
    <i class="fa-solid fa-user-gear"></i>
<% end %>

<% if book.errors.any? %>
  <%= pluralize(book.errors.count, "error") %> prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>New book</h1>
<%= form_with model: book do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>

